html,body{
	background-color: #b3a0a0;
  font-family: 'Russo One', sans-serif;
  font-size:15px;
}
*{
	margin:0;
	padding:0;
	list-style:none;
}

.app{

	width:400px;
	height:400px;
	position:relative;
	margin:150px auto;
}

.td{
  width:30px;
  height:30px
}
